html, body
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#google-maps-canvas img { max-width: none; }

.main
{
  height: 100%;
  float: left;
  width: 100%;
  margin: 0;
}

.options
{
  position:absolute;
  left: 15pt;
  bottom: 15pt;
  width: 250pt;
  height: 50%;
  border-radius: 5pt;
  background-color: rgba(255, 255, 255, .75);
}

.options-minimal
{
  position: absolute;
  left: 15pt;
  bottom: 15pt;
  border-radius: 5pt;
  background-color: rgba(255, 255, 255, .75);
  padding: 5pt;
}

.btn-monowidth
{
  width: 80pt;
}

.options-content
{
  /*margin: 25pt;*/
}
